* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  position: relative;
}

.game-container {
  width: 100%;
  height: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 40px;
  padding-bottom: 80px;
  overflow: hidden;
  background-image: url(/assets/2727.jpg);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  background-size: cover;
}

.header-container {
  align-self: stretch;
  height: 152px;
  padding: 10px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

/* .scoreBlock {
  width: 319.42px;
  height: 134px;
} */

.scoreBlock {
  font-family: "Irish Grover", cursive;
  width: 319.42px;
  height: 134px;
  background-image: url(/assets/button-Photoroom.png); /* Add your background image here */
  background-size: cover;
  background-position: center;
  display: flex; /* Use flexbox to center the content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative; /* Position relative for text shadow */
  color: white; /* Set text color */
  font-size: 30px; /* Adjust font size as needed */
}

.lives-container {
  width: 787px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  display: flex;
}

.life-icon {
  width: 94px;
  height: 94px;
}

.basket {
  position: absolute;
  bottom: 10px;
  width: 100px;
  height: 50px;
  background-image: url(/assets/basket_noBG.png);
  background-size: cover;
}

.egg {
  position: absolute;
  top: 0;
  width: 30px;
  height: 40px;
  background-image: url(/assets/egg_noBG.png);
  background-size: cover;
}
